* {
  margin: 0;
 padding: 0;
}

body {  
 background-color: #fbfbfb;
 background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d0d0d0' fill-opacity='0.41'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.header__name {
 color: white;
 padding-left: 10px;
}

.header {
 width: 100%;
 background-color: rgb(38, 36, 44);
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.todo-table {
 text-align: left;
 margin-left: auto;
 margin-right: auto;
 border: 1px solid rgb(203, 199, 199);
 border-collapse: collapse;
 width: 300px;
 margin-top: 60px;
 background-color: #fbfbfb;
}

.outer-table {
width: 100%;
border-collapse: collapse;

}

.inner-table {
 text-align: left;
 border: solid 1px rgb(203, 199, 199);
 margin: auto;  
 width: 290px;
}

tr:nth-of-type(odd) {
 background-color: rgb(203, 199, 199);
}

.inner-table__edit {
 color: #fbfbfb;
 align-items: center;
 margin-left: 3px;
 background-color: rgb(53, 204, 53);
 border-color: rgb(53, 204, 53);
 width: 27px;
 border-radius: 4px;
 float: right; 
 cursor: pointer;
}

.inner-table__delete {
 color: #fbfbfb;
 align-items: center;
 margin-left: 3px;
 background-color: rgb(178, 8, 8);
 border-color: rgb(178, 8, 8);
 width: 27px;
 border-radius: 4px;
 float: right; 
 cursor: pointer;
}

.outer-table__button {
 background-color: rgb(28, 121, 243);
 color: white;
 font-size: 10px;
 padding: 3px 8px;
 position: absolute;
 border-top-right-radius: 4px;
 border-bottom-right-radius: 4px;
 margin-top: 1px;
 height: 20px;
 cursor: pointer;
 align-items: center;
 border-color: rgb(14, 115, 247);
 width: 50px;
 float: right; 
}

.outer-table__input {
 width: 80%;
 border: solid 1px rgb(203, 199, 199);
 border-right: 0px;
 font-size: 8px;
 height: 19px;
}

.outer-table__td ,.inner-table__td {
 padding: 10px;
 margin: -2px;
 font-size: 10px;
}


.header__button {
 background-color: rgb(34, 125, 245);
 color: white;
 font-size: 8px;
 border-color: rgb(14, 115, 247);
 padding: 6px 6px;
 margin: 7px;
 border-radius: 4px;
 cursor: pointer;
 float: right; 
}


.outer-table__th {
 font-size: 10px;
 padding: 5px;
}
